.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
github-intro-recording.mp4

github-intro/.Rproj.user
github-intro/.Rhistory
github-intro/.RData
github-intro/.Ruserdata

R-training/.Rproj.user
R-training/.Rhistory
R-training/.RData
R-training/.Ruserdata
